<div class="container">
  <div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete Employee</button></td>
            </tr>
    </tbody>
      </table>
  
    </div>
  <button (click)="logout()">Log out</button>
</div>

<!-- 
<div class="container">
  <div class="col-md-6">
    <table class="table table-striped">
    <thead>
    <tr>
      <th>First name</th>
      <th>Last name</th>
      <th>Email</th>
      <th *ngIf="showActions">Actions</th>
      </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{user.firstname}}</td>
            <td>{{user.lastname}}</td>
            <td>{{user.email}}</td>
            <td *ngIf="showActions">
            </td><button class="btn btn-danger" (click)="deleteUser(user)"> Delete user</button></td>
            </tr>
    </tbody>
      </table>
  
    </div>
  <button (click)="logout()">Log out</button>
</div> -->
